* {
  font-family: "Open Sans", sans-serif;

  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
header{
    background-image: url(./images/developer.png),url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right;

}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 180px;
}
.navbar h3{
    font-weight: 700;
    font-size: 2rem;
}
.navbar ul{
    display: flex;
    align-items: center;
}
.navbar ul li{
    list-style: none;
    margin-right: 50px;
}
.navbar ul li a{
    font-size: 1.15rem;
    text-decoration: none;
}
.navbar span{
    color: #FD6E0A;
}

.btn{
    padding: 13px 30px;
    border-radius: 5px;
    border: none;
    color: white;
}
.contact-button{
    color: #FD6E0A;
    background-color: white;
    border: 1px solid #FD6E0A;
}

/* primary-color */
.btn-primary{
    background-color: #FD6E0A;
}
.secondary-bg{
    background-color: #FFF8F3;
}
.f-size{
    font-size:18;
    color: #757575;
}
.center{
    text-align: center;
}
.title{
    font-size: 35px;
}

.banner{
    display: flex;
    justify-content: space-between;

}
.banner-content{
    max-width: 584px;
    margin-left:180px ;
}
.banner img{
    width: 580px;
}
.banner h4{
    font-size: 2rem;
}
.banner h1{
    font-size: 3rem;
}
.banner p{
    font-size: 1.5rem;
}
main{
    
    max-width: 1140px;
    margin: 0 auto;
}
.about{
    
    
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}
.section-title{
    font-weight: bold;
    color: black;   
}
.item-description{
    font-weight: 600;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.do-section{
    padding: 130px 150px;
    
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.25);
}
.resume-container{
    display: flex;
    justify-content: space-around;
    gap: 24px;
}
.experience-sub-title{
    color: #757575;
    font-size: 20px;
}
.experience-description{
    color: #757575;
    font-size: 16px;
}
.dbtn{
    margin: 50px;
}